/* Smaller profile photo */
.post .profile {
  width: 22% !important;
}

/*mobile*/
@media (max-width: 576px) {
  .post .profile {
    width: 30% !important;
  }

  .post .profile img {
    width: 100px !important;
    height: auto !important;
  }
}

/* Smaller social icons */
.social .contact-icons {
  font-size: 1.8rem !important;
}

.social .contact-icons a {
  font-size: 1.8rem !important;
}

.post .profile img {
  width: 175px !important;
  height: auto !important;
}

