/* Smaller profile photo */
.post .profile {
  width: 20% !important;
}

/* Smaller social icons */
.social .contact-icons {
  font-size: 1.8rem !important;
}

.social .contact-icons a {
  font-size: 1.8rem !important;
}

.post .profile img {
  width: 165px !important;
  height: auto !important;
}

