/* Smaller profile photo */
.post .profile {
  width: 20% !important;
}

/* Smaller social icons */
.social .contact-icons {
  font-size: 1.8rem !important;
}

.social .contact-icons a {
  font-size: 1.8rem !important;
}

.post .profile img {
  width: 165px !important;
  height: auto !important;
}

/* Move publication list to the left on desktop */
@media (min-width: 768px) {
  .publications ol.bibliography {
    margin-left: -100px !important;
    width: calc(100% + 100px);
  }
}
