:root {
  --global-theme-color: #000000;
  --global-hover-color: #555555;
}

html[data-theme="dark"] {
  --global-theme-color: #ffffff;
  --global-hover-color: #cccccc;
}

.post article p {
  text-align: justify;
}

.post .profile {
  width: 18% !important;
}

.post .profile img {
  width: 160px !important;
  height: auto !important;
}


@media (max-width: 576px) {
  .post .profile {
    width: 35% !important;
  }

  .post .profile img {
    width: 130px !important;
    height: auto !important;
  }
}
